* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Geomini", sans-serif;
    background-color: #F8F9FA;
    margin: 0;
    padding: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.container {
    background-color: #fff;
    padding: 50px;
    width: 470px;
    box-shadow: 5px 5px 20px #949494;
    border-radius: 10px;
}

.titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3B4CCA;
    margin-bottom: 10px;
}

.not {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363636;
}

.not p {
    font-size: 0.8rem; 
}

.alert {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F44337;
    margin-top: 20px;
}

.bi-exclamation-triangle-fill {
    margin-right: 5px;
}

.text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #363636;
    margin-top: 20px;
}

.text h6 {
    font-weight: 500;
}

button {
    background-color: #007BFF;
    border-radius: 5px;
    border: none;
    padding: 5px;
    margin-top: 8px;
    color: #fff;
}