<!-- Inicio -->
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Plataformas digitales</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Fredoka:wght@300..700&family=Geomini:wght@200..800&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Libre+Baskerville:ital,wght@0,400..700;1,400..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
</head>

<body>
    <!-- Comienzo de Navegador -->
    <nav class="nav-inicio">
        <!-- inicio de nav -->
        <div class="titulo">
            <i class="bi bi-table"></i>
            <h1>Plataformas Digitales</h1>
        </div>
        <div class="info">
            <p>Visualización de datos de las principales plataformas digitales</p>
        </div>
        <!-- final de nav -->
    </nav>
    <!-- inicio contenedor de barra -->
    <div class="container-barra">
        <div class="title">
            <i class="bi bi-funnel-fill"></i>
            <p>Filtros y Ordenamiento</p>
        </div>
        <div class="barra">
            <!-- cuadro 1 -->
            <div class="cuadro">
                <p>Filtrar por país:</p>
                <select id="opciones" name="opciones">
                    <option value="países">Todos los países</option>
                </select>
            </div>
            <!-- cuadro 2 -->
            <div class="cuadro">
                <p>Ordenar por:</p>
                <select id="opciones" name="opciones">
                    <option value="nombre">Nombre</option>
                </select>
            </div>
            <!-- cuadro 3 -->
            <div class="cuadro">
                <p>Dirección:</p>
                <select id="opciones" name="opciones">
                    <option value="asciende">Ascendente</option>
                </select>
            </div>
        </div>
        <!-- final de barra -->
    </div>
    <!-- final del contenedor de barra -->

    <!-- tabla -->
    <div class="table-container">
        <table class="custom-table">
            <!-- Inicio -->
            <thead>
                <!-- Tabla en fila -->
                <tr>
                    <!-- Cabeza de tabla -->
                    <th>Nombre <i class="fa-solid fa-caret-down"></i></th>
                    <th>Usuarios</th>
                    <th>Año Fundación</th>
                    <th>País</th>
                    <th>Detalles</th>
                </tr>
            </thead>
            <tbody>
                <!-- Tabla en fila -->
                <tr>
                    <!-- Cabeza de tabla -->
                    <td class="brand">
                        <i class="bi bi-discord"></i>
                        <strong>Discord</strong>
                    </td>
                    <td><span class="badge badge-blue">250M</span></td>
                    <td class="year">2015</td>
                    <td><span class="badge badge-gray">EE.UU.</span></td>
                    <td><button class="btn-info"><i class="bi bi-info-circle-fill"></i></button></td>
                </tr>
                <!-- Tabla en fila -->
                <tr>
                    <!-- Cabeza de tabla -->
                    <td class="brand">
                        <i class="bi bi-instagram"></i>
                        <strong>Instagram</strong>
                    </td>
                    <td><span class="badge badge-blue">2.35B</span></td>
                    <td class="year">2010</td>
                    <td><span class="badge badge-gray">EE.UU.</span></td>
                    <td><button class="btn-info"><i class="bi bi-info-circle-fill"></i></button></td>
                </tr>
                <!-- Tabla en fila -->
                <tr>
                    <!-- Cabeza de tabla -->
                    <td class="brand">
                        <img src="https://img.icons8.com/?size=100&id=ugS0yPiF1NrW&format=png&color=4D4D4D" alt="#"
                            width="25px">
                        <strong>Netflix</strong>
                    </td>
                    <td><span class="badge badge-blue">247M</span></td>
                    <td class="year">1997</td>
                    <td><span class="badge badge-gray">EE.UU.</span></td>
                    <td><button class="btn-info"><i class="bi bi-info-circle-fill"></i></i></button></td>
                </tr>
                <!-- Tabla en fila -->
                <tr>
                    <!-- Cabeza de tabla -->
                    <td class="brand">
                        <i class="bi bi-spotify"></i>
                        <strong>Spotify</strong>
                    </td>
                    <td><span class="badge badge-blue">515M</span></td>
                    <td class="year">2006</td>
                    <td><span class="badge badge-gray">Suecia</span></td>
                    <td><button class="btn-info"><i class="bi bi-info-circle-fill"></i></button></td>
                </tr>
                <!-- Tabla en fila -->
                <tr>
                    <!-- Cabeza de tabla -->
                    <td class="brand">
                        <i class="bi bi-tiktok"></i>
                        <strong>TikTok</strong>
                    </td>
                    <td><span class="badge badge-blue">1.7B</span></td>
                    <td class="year">2016</td>
                    <td><span class="badge badge-gray">China</span></td>
                    <td><button class="btn-info"><i class="bi bi-info-circle-fill"></i></button></td>
                </tr>
                <!-- Tabla en fila -->
                <tr>
                    <!-- Cabeza de tabla -->
                    <td class="brand">
                        <i class="bi bi-twitch"></i>
                        <strong>Twitch</strong>
                    </td>
                    <td><span class="badge badge-blue">140M</span></td>
                    <td class="year">2011</td>
                    <td><span class="badge badge-gray">EE.UU.</span></td>
                    <td><button class="btn-info"><i class="bi bi-info-circle-fill"></i></button></td>
                </tr>
                <!-- Tabla en fila -->
                <tr>
                    <!-- Cabeza de tabla -->
                    <td class="brand">
                        <i class="bi bi-youtube"></i>
                        <strong>YouTube</strong>
                    </td>
                    <td><span class="badge badge-blue">2.5B</span></td>
                    <td class="year">2005</td>
                    <td><span class="badge badge-gray">EE.UU.</span></td>
                    <td><button class="btn-info"><i class="bi bi-info-circle-fill"></i></i></button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="final">
        <p>Visualización de datos desarrollo con Flask y Bootstrap</p>
        <p>los datos datos mostrados son ficticios para fines educativos</p>
    </div>
</body>

</html>