<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokédex</title>
    <link rel="stylesheet" href="../static/css/style404.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
</head>

<body>
    <div class="container">
        <div class="titulo">
            <h1>¡Oh no!</h1>
        </div>
        <div class="not">
            <p>No pudimos encontrar información sobre en nuestra pokédex.</p>
        </div>
        <div class="alert">
            <i class="bi bi-exclamation-triangle-fill"></i>
            <h4>Pókemon no encontrado</h4>
        </div>
        <div class="text">
            <p>Tal vez este pókemon aún no ha sido descubierto, o quizás has escrito mal su nombre</p>
        </div>
        <div class="inicio-pokedex">
            <button><i class="bi bi-house-door-fill">Volver a la Pókedex</i></button>
        </div>
    </div>
</body>

</html>