<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Admin</title>
    <link rel="stylesheet" href="../static/css/admin_usuarios.css">
</head>
<body>

    <div class="dashboard-container">
        <header class="dashboard-header">
            <button id="btn-nuevo" class="btn-nuevo">Nuevo Usuario</button>
        </header>

        <table class="user-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>E-mail</th>
                    <th>Tipo Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="user-table-body">
                </tbody>
        </table>
    </div>

    <script src="../static/js/admin_usuarios.js"></script>
</body>
</html>