<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Usuario</title>
    <link rel="stylesheet" href="../static/css/dashboard_mensajes.css">
</head>
<body>

    <div class="dashboard-container">
        <header class="dashboard-header">
            </header>

        <table class="user-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>E-mail</th>
                    <th>Tipo Usuario</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody id="user-table-body">
                </tbody>
        </table>

        <div class="post-it">
            <div class="tape"></div>
            <p>Los usuarios solo pueden enviar mensajes</p>
        </div>
    </div>

    <script src="../static/js/dashboard_mensajes.js"></script>
</body>
</html>